@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Oswald', sans-serif;
  user-select: none;
}

body{
  background: #EEF2F6;
}

.active{
  background: #efcaaa;
}

.sidebar{
  background: white;
  -webkit-box-shadow: 7px 1px 8px -3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 7px 1px 8px -3px rgba(34, 60, 80, 0.2);
  box-shadow: 7px 1px 8px -3px rgba(34, 60, 80, 0.2);
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}



.clock{
  animation: border 50000ms infinite linear;
  -webkit-box-shadow: 1px 1px 13px 8px rgba(247, 179, 36, 0.31);
-moz-box-shadow: 1px 1px 13px 8px rgba(247, 179, 36, 0.31);
box-shadow: 1px 1px 13px 8px rgba(247, 179, 36, 0.31);
}

@keyframes border{
  from{

  }
  to{
    transform: rotate(360deg);
  }
}

.reverse-clock{
  animation: bool 50000ms infinite linear;

}

@keyframes bool{
  from{

  }
  to{
    transform: rotate(-360deg);
  }
}

